@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;600;700&display=swap');

.container_flex{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.quadrado{
    height: 20vh;
    width: 20vh;
    border: 3px solid red;
    border-radius: 50%;
    margin: 15px;
    
}