@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;600;700&display=swap');


body {
  margin: 0px;
  padding: 0px;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  background: url('../../assets/img/Background_mainblurr2.png')no-repeat center center fixed;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  background-size: cover;

  color: aliceblue;
}

html, body, ul, li, p{
  /* view height - tamanho da tela */
  margin: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  /* background: blue; */
}

.header{
  /* background: rgba(0, 0, 0, 0.472); */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-right: 20px; */
  padding-bottom: 20px;
  /* align-items: center; */

  height: 100px;

}

.menu{
  display: flex;
}

.menu li{
  margin-left: 10px;
}

.menu li a{
  display: block;
  padding: 10px;
  /* background: green; */
}

.foto-perfil{
  background: url('../../assets/img/ezio.jpg') no-repeat center center ;
  
    width: 200px;
    height: 200px;

    background-size: cover;
    /* border-radius: 50%; */
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 50% 50% 50%;

    position: absolute;

    alt: 'Foto do perfil';


}

.nome-perfil{
  background: yellow;
  color: black;
  border-radius: 5px;
  padding-left: 220px;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 10px;

  width: 150px;

  position: absolute;
  text-align: justify;
  top: 90px;

  height: 40px;

  alt: 'Nome do perfil';

}

.flex{
  display: flex;
  flex-wrap: wrap;
}


.time-hour{
  background-color: rgb(14, 240, 116);
  border-radius: 0px 0px 0px 5px;
  /* cursor: none; */
  height: 50px;
}

.button {
  /* display: flex; */


  height: 50px;
  padding: 0;
  background: rgb(4, 128, 186);
  border: none;
  outline: none;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  
  vertical-align: 50%;

  margin-right: 5em;

  font-size: 1.2rem;
  font-family: 'Noto Sans';
}

.button:hover {
  background: rgb(54, 193, 16);
  transition: 0.5s;
}

/*clique*/
.button:active {
  background: #3700ff;
}

.btn-icone {
  display: inline;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.btn-texto{
  /* padding-bottom: 70px; */
  display: inline;
  /* align-items: center; */
  /* superior | direita | inferior | esquerda */
  padding-right: 25px;
  color: #fff;
  height: 100%;
}


.btn-icone {
  font-size: 1.5em;
  background: url('../../assets/icons/iconVoltar.png')no-repeat center center;
  background-size: cover;  
  

}

.btn-addgame{
  background: url('../../assets/icons/addGame.png') no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;


  /* topo | direita | inferior | esquerda */
  margin-right: 5em;
}

nav{
  display: flex;
  justify-content: space-between;
}






